@import '../common/styles/sass/mixins.scss';
@import '../common/styles/sass/variables.scss';

.mainBlock {
  min-height: 100vh;
  @include flex(column, flex-start, center, nowrap);
  background-image: url("../assets/images/mainBg.jpg");
  background-size: cover;
  position: relative;
  margin-top: 60px;
  z-index: 6;
  animation: show 8s;
  @keyframes show {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 1;
    }
  }
  &::after {
    content: "Web Developer";
    position: absolute;
    width: 90%;
    font-size: calc(50px + 15vw);
    text-align: center;
    color: #d8ad38;
    font-weight: 700;
    opacity: 0.12;
    font-family: 'Caveat';
    left: 0;
    top: 600px;
    rotate: -10deg;
    z-index: -1;
  }
  .downloadBut {
    @include flex(row, center, center, nowrap);
    @include buttonBeforeChanging(absolute, 19px, 40px, 131px);
    top: 20px;
    left: 20px;
    padding: 5px;
    text-decoration: none;
    &::before {
      @include pseudoElBeforeChanging(41px, 0px, 18px, 41px);
    }
    &:hover {
      @include buttonHover();
      &::before {
        @include buttonChanged(128px, -48px);
      }
    }
  }
  .container {
    @include container();
    .mainItems {
      height: 100%;
      width: 100%;
      @include flex(row, space-evenly, center, wrap);
      .text {
        width: fit-content;
        text-align: center;
        @include flex(column, center, center, nowrap);
        .name {
          line-height: 1.2;
          color: $primaryColor;
          font-weight: 700;
          margin: 15px 0 0 0;
          text-transform: uppercase;
          letter-spacing: 3.2px;
          font-size:calc(27px + 2.5vw);
          text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px rgba(0, 0, 0, 0.2);
        }       
        .surname {
          line-height: 1.2;
          color: #ffffff;
          font-weight: 700;
          margin: 15px 0 0 0;
          text-transform: uppercase;
          letter-spacing: 3.2px;
          font-size:calc(27px + 2.5vw);
          text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000, 5px 5px rgba(0, 0, 0, 0.2);
        }
        .cursiveHeader {
          @include cursiveHeader();
        }
      }
      .foto {
        min-width: 340px;
        width: 35vw;
        min-height: 340px;
        height: 35vw;
        border-radius: 50%;
        background-color: $primaryColor;
        position: relative;
        z-index: 5;
        margin-bottom: 155px;
        animation: show 1.5s ease 4.2s backwards;
        @keyframes show {
          from {
            opacity: 0
          }
          to {
            opacity: 1
          }
        }
        &::before {
          position: absolute;
          min-width: 100%;
          min-height: 100%;
          border-radius: 50%;
          content: "";
          background-image: url('../assets/images/ava6.png');
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
  .aboutMe {
    @include flex(column, center, center, nowrap);
    width: 100%;
    margin-bottom: 70px;
    .myDescription {
      width: 70%;
      @include littleBlackText();
      font-size: 20px;
      text-align: justify;
    }
  }
}



