@import '../common/styles/sass/mixins.scss';

.footerBlock {
  width: 100%;
  padding: 10px;
  @include flex(column, space-between, center, nowrap);
  .linksBlock {
    @include flex(row, center, normal, nowrap);
    .logo {
      width: 50px;
      height: 50px;
      margin: 10px;
      border-radius: 50%;
      position: relative;
      transition: 0.3s;
      &::before {
        position: absolute;
        content: "";
        background-color: black;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
        transition: 0.3s;
      }
      &:hover {
        scale: 1.1;
        &::before {
          opacity: 0.5;
        }
      }     
      .imgLogo {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
  }
  .littleBlackText {
    @include littleBlackText();
  }
}









