@import '../common/styles/sass/mixins.scss';

.projectsBlock {
  min-height: 50vh;
  position: relative;
  &::after {
    content: "Portfolio";
    position: absolute;
    font-size: calc(20vw);
    text-align: center;
    color: #ebb258;
    font-weight: 700;
    opacity: 0.08;
    font-family: 'Caveat';
    top: -100px;
    transform: translate(-50%, 50%);
    transform: rotate(-15deg)
  }
  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    .itemsBlock {
      @include itemsBlock();
      @media screen and (max-width: 1099px) {
        justify-content: center;
      }
    }
  }
}

